<footer class="footer bg-[#f0f3f2] px-3 py-8">
  <div class="container">
    <h3 class="footer__header mb-3">Get the FreshCart app </h3>
    <p class="footer__desc mb-3">we Will send you a link , open it on your Phone
      to download the app </p>

    <div
      class="footer__subscription py-3 flex gap-x-5 mb-3 border-b-[1px] border-[#2125291c]">
      <input type="email" class="footer__input w-[80%] ml-[15px] rounded-md"
        placeholder="Enter your email">
      <button class="bg-main text-white  px-3 py-2 rounded-md">Share the
        App</button>
    </div>

    <div
      class="footer__payment flex justify-between border-b-[1px] border-[#2125291c] pb-6">
      <p>Payment Partners </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

    </div>
  </div>
</footer>
